.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.product {
    display: flex;
    flex-direction: column;
    border: 3px solid #dd92ff;
    padding: 20px;
    border-radius: 30px;
  }
  
  .product-title {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .product-content {
    display: flex;
    gap: 10px;
  }
  
  .product-image {
    width: 30%;
    height: auto;
  }
  
  .product-info {
    width: 70%;
  }
  
  .product-description {
    text-align: left;
    flex-grow: 1;  }
  
  .product-price {
    text-align: right;
    font-weight: bold;
  }